# Copie este arquivo para .env e preencha os valores
USE_POSTGRES=False // Defina como True para usar PostgreSQL, ou False para usar SQLite
SECRET_KEY=django-insecure-troque-esta-chave-em-producao
DEBUG=True
DB_NAME=inframind_db
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_HOST=localhost
DB_PORT=5432
GEMINI_API_KEY=sua_chave_gemini_aqui

